<div class="container">
  <div class="row">
    <nav class="navbar navbar-dark bg-primary">
      <div class="navbar-brand" href="#">
        <div class="container-fluid">
          <!-- Navbar brand -->
          <a class="navbar-brand" href="/books">BooksList</a>
          <a class="navbar-brand" href="/create-book">AddBook</a>
          <a class="navbar-brand" href="/borrow-book">BorrowBook</a>
          <a class="navbar-brand" href="/return-book">ReturnBook</a>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
